<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
Get help on the GatherHub at the
<a href="http://www.gatherhub.com/#help">GatherHub help section</a>.
To get help on this sample app, see the
<a href="http://www.gatherhub.com/book"><em>GatherHub Tutorial</em>
book</a>.
</p>